In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("credit_customers.csv")

In [3]:
data

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [5]:
data.drop(['checking_status'], axis = 1 , inplace = True)

In [6]:
data

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,4.0,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,4.0,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,4.0,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,4.0,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,4.0,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
data.columns

Index(['duration', 'credit_history', 'purpose', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'personal_status', 'other_parties', 'residence_since',
       'property_magnitude', 'age', 'other_payment_plans', 'housing',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

### Here I have encoded all the columns for Logistic regression processiong, before transforming the Logistic regression all column value should be continuous(int or float)

In [13]:
columns = ['credit_history', 'purpose','savings_status', 'employment','personal_status' ,'other_parties', 'property_magnitude', 'other_payment_plans', 'housing','job','own_telephone','foreign_worker','class'  ]
for i in columns:
    le = LabelEncoder()
    data[i] = le.fit_transform(data[i])

In [14]:
data

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6.0,1,6,1169.0,4,3,4.0,3,2,4.0,3,67.0,1,1,2.0,1,1.0,1,1,1
1,48.0,3,6,5951.0,2,0,2.0,0,2,2.0,3,22.0,1,1,1.0,1,1.0,0,1,0
2,12.0,1,2,2096.0,2,1,2.0,3,2,3.0,3,49.0,1,1,1.0,3,2.0,0,1,1
3,42.0,3,3,7882.0,2,1,2.0,3,1,4.0,1,45.0,1,0,1.0,1,2.0,0,1,1
4,24.0,2,4,4870.0,2,0,3.0,3,2,4.0,2,53.0,1,0,2.0,1,2.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,3,3,1736.0,2,1,3.0,0,2,4.0,3,31.0,1,1,1.0,3,1.0,0,1,1
996,30.0,3,9,3857.0,2,0,4.0,1,2,4.0,1,40.0,1,1,1.0,0,1.0,1,1,1
997,12.0,3,6,804.0,2,3,4.0,3,2,4.0,0,38.0,1,1,1.0,1,1.0,0,1,1
998,45.0,3,6,1845.0,2,0,4.0,3,2,4.0,2,23.0,1,0,1.0,1,1.0,1,1,0
999,45.0,1,9,4576.0,0,4,3.0,3,2,4.0,0,27.0,1,1,1.0,1,1.0,0,1,1

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   duration                1000 non-null   float64
 1   credit_history          1000 non-null   int32
 2   purpose                 1000 non-null   int32
 3   credit_amount           1000 non-null   float64
 4   savings_status          1000 non-null   int32
 5   employment              1000 non-null   int32
 6   installment_commitment  1000 non-null   float64
 7   personal_status         1000 non-null   int32
 8   other_parties           1000 non-null   int32
 9   residence_since         1000 non-null   float64
 10  property_magnitude      1000 non-null   int32
 11  age                     1000 non-null   float64
 12  other_payment_plans     1000 non-null   int32
 13  housing                 1000 non-null   int32
 14  existing_credits        1000 non-null   float64
 15  job                     1000 non-null   int32
 16  num_dependents          1000 non-null   float64
 17  own_telephone           1000 non-null   int32
 18  foreign_worker          1000 non-null   int32
 19  class                   1000 non-null   int32
dtypes: float64(7), int32(13)
memory usage: 105.6 KB

In [16]:
x = data.drop('class', axis = 1)

In [17]:
y = data['class']

In [18]:
from sklearn.model_selection import train_test_split

In [20]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2)

In [21]:
xtrain.shape

(800, 19)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
logR = LogisticRegression(solver = "newton-cg") # Here 4 methods are there as it is small data set so I am using newton-cg method

In [24]:
logR.fit(xtrain, ytrain)

LogisticRegression(solver='newton-cg')

In [25]:
ypred = logR.predict(xtest)

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
accuracy_score(ypred, ytest)

0.715